body {
    background-color: #2F303A;
}

.nav {
    display: flex;
    margin: 30px 120px 0;
}

.logo {
    width: 50px;
    height: 50px;
}

.brand a {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 25px;
    color: #FFFFFF;
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    .nav {
        display: flex;
        margin: 10px 10px 0;
    }
    .navcontainer {
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .dropdown {
        position: absolute;
        right: 10px;
        display: inline-block;
        margin-left: auto;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        list-style: none;
        text-align: center;
        left: 0;
        right: 0;
        top: 70px;
        width: 100%;
        padding: 12px 0px;
        font-family: Poppins;
        font-size: 20px;
    }
    
    .nav-item{
        text-decoration: none;
        color: #fff;
        display: block;
    }
    
    .nav-item:hover{
        text-decoration: none;
        color: #b1b0bb;
    }
}

.dropdown {
    margin-right: auto;
}

.dropdown-content {
    margin-top: 10px;
}

.nav-item{
    text-decoration: none;
    font-family: poppins;
    color: #fff;
    font-size: 20px;
    margin: 20px;
}

.nav-item:hover{
    text-decoration: none;
    color: #b1b0bb;
}

.container {
   display: flex;
}

.home-image {
    position: absolute;
    width: 430px;
    height: 600px;
    left: 140px;
    top: 190px;
}

.home-text {
    position: absolute;
    width: 420px;
    height: 600px;
    right: 150px;
    top: 190px;
}

.col {
    width: 100%;
    height: 700px;
    display: inline-block;
}

.home-button {
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    width: 246.9px;
    height: 60px;
    /* left: 960px; */
    /* top: 640px; */
    background: #1762A7;
    border-radius: 10px;
}

h2 {
    font-family: Poppins;
    font-size: 72px;
    /* line-height: 108px; */

    color: #FFFFFF;
}

p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;

    color: #FFFFFF;
}